.titolo{
    text-align: center;
    margin-bottom: 24px;

}
.vetrina {
  margin: 80px auto 0 auto;
  max-width: 1200px;
  padding: 24px;
}
.vetrina-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}
.prodotto {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 16px;
  width: 220px;
  transition: box-shadow 0.2s, transform 0.2s, border 0.2s;
  border: 2px solid transparent;
  cursor: pointer;
  text-align: center;
   display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.prodotto:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
  border: 2px solid #080808;
  transform: translateY(-4px) scale(1.04);
  background: #f9f6f6;
}
.prodotto img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}
.prodotto h3 {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prodotto p {
  min-height: 48px; /* imposta una altezza minima per la descrizione */
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand {
  display: block;
  color: #888;
  font-size: 0.95rem;
  margin-bottom: 4px;
}
.price {
  display: block;
  font-weight: bold;
  color: #a83232;
  margin-bottom: 8px;
}
.prodotto button {
  background: #a83232;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
  
}
.prodotto button:hover {
  background: #353332;
}